body{
  height:1000px;
  background-color: lightgrey;
}
.title{
  width:100%;
  text-align: center;
}
.jobs-listing{
  min-height:500px;
  width:60%;
  min-width: 500px;
  background-color: white;
  margin: auto;
  overflow-y: auto;
  padding: 50px;
  border-radius: 10px;
}
.jobs {
  border : 3px solid black;
  padding: 10px;
  margin-bottom: 30px;
}
.jobs h2{
  margin:5px 0;
  padding: 10px 0;
  background-color: lightblue;
  cursor: pointer;
}
.jobs h4{
  margin:0;
}
.jobs p{
  margin:5px 0;
}

.apply{
  background-color: lightgreen;
  width:100px;
  padding:10px;
  border-radius: 5px;
  cursor: pointer;
}

.back{
  width:120px;
  padding:10px;
  border-radius: 5px;
  cursor: pointer;
}


.Application{
  font-size: 18px;
}
.Application table{
  margin-bottom: 20px;
}
.Application input{
  padding: 10px;
  border-radius: 10px;
}
.Application textarea{
  padding: 10px;
  border-radius: 10px;
  resize: vertical;
  font-family: Georgia, sans-serif;
  
}
.submit-applic{
  background-color: lightgreen;
  width:100px;
  padding:10px;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 100px;
  margin-right: 10px;

}
